    apiVersion: 1
    datasources:
    - name: InfluxDB
      type: influxdb
      access: proxy
      orgId: 1
      url: http://{{ hostvars['nexus-server']['ansible_eth0']['ipv4']['address'] }}:8086
      password: telegraf
      user: telegraf
      database: telegraf
      version: 1
      editable: false