      upstream grafana_ui_backend {
          least_conn;
          zone backend_mem_zone 64k;
          server {{ nginx_ip_address }}:3000 weight=1 ;
      }
      server {
          listen 80;
          server_name grafana.{{ url_env }};
          auth_basic "Restricted";
          auth_basic_user_file /etc/nginx/passwd;
          location / {
              proxy_pass http://grafana_ui_backend/;
              proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header Host $host;
              proxy_set_header X-Forwarded-Proto $scheme;
              proxy_set_header X-Real-IP $remote_addr;
              proxy_set_header Authorization "";
          }
      }